:root {
  /* Colours */
  --color-bg: light-dark(#b3b3b3, #5f5f5f); /* page background /*

  /* Header */
  --color-head-bg: light-dark(#00ff66, #414143);

  /* Logotype */
  --color-logotype-bg: light-dark(#c9c2c2, #605c5c);
  --color-text-logotype: light-dark(#c1bfb8, #9f9898);
  --font-logotype-size: 4rem;

  /* Global menu */
  --color-menu-bg: light-dark(#4b4545, #c9c2c2);
  /* Links */
  --color-link-bg: light-dark(#00ff66, #00ff66);
  --color-link-hover: light-dark(#3a3a3a, #c9c2c2); /* used */
  --color-link-active: light-dark(#99958f, #c9c2c2); /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: light-dark(#4b4545, #4b4545);
  --color-headline-text-page: light-dark(#f2f2f2, #c9c2c2);

  /* Tekst */
  --color-text: light-dark(#1a1a1a);
  --color-text-inverted: light-dark(#1a1a1a);

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: light-dark(#858483, #00ff66);
  --color-cta-card-bg: light-dark(#00ff66, #c9c2c2);
  /* news-cards */
  --color-news-bg: light-dark(#00ff66, #625e5e);
  --color-news-bg-inverted: light-dark(#d1cbc9, #00ff66);
  --color-cta-newscard-bg: light-dark(#3a3a3a, #afa7a7);
  --color-cta-newscard-bg-inverted: light-dark(#3a3a3a, #c9c2c2);

  /* Fonts */
  --font-family-sans: ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(#d8d8d8, #00ff66);
  --color-infobox-1-bg: light-dark(#474343, #9c9a9a);
  --color-infobox-2-bg: light-dark(#474343, #9c9a9a);
}
